@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
}

.title {
    margin-top: 30px;
    text-align: center;
}

.enroll_std {
    display: flex;
    justify-content: left;
}

.std_form {
    margin-top: 180px;
    margin-left: 40px;
    padding: 25px;
    width: 600px;

}

input {
    margin-left: 20px;
    padding: 10px;
    width: 350px;
    height: 35px;
    border: 1px solid red;
    border-radius: 20px;
    /* font-size: 50px; */
}

label {
    background: none;
    font-size: 22px;
}

#email {
    margin-left: 33px;
}

#submit_btn {
    background-color: aqua;
    width: 130px;
    height: 40px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: bolder;
    border: 1px solid black;
    cursor: pointer;
}

button {
  margin-left: 15px;
  background-color: rgb(255, 135, 50);
  width: 130px;
  height: 40px;
  border-radius: 16px;
  font-size: 16px;
  font-weight: bolder;
  border: 1px solid black;
  cursor: pointer;
}
button:hover {
  background-color: aliceblue;
}

#submit_btn:hover {
  background-color: aliceblue;
}

.seperation-border {
    border-left: 6px solid blue;
    margin-top: 90px;
    height: 400px;
    position:absolute;
    left: 50%;
}


.enrolled_std {
    margin-top: 110px;
    text-align: right;
    width: 500px;
}

table {
    margin-top: 80px;
    margin-left: 200px;
    text-align: center;
    width: 442px;
    background: #333;
    
}

#display th, #display td {
    padding: 3px;
}

img {
  width: 160px;
  height: 160px;
}

#female{
  height: 20px;
  margin-left: 45px;
  width: 20px;
}

#fem {
  margin-left: 15px;
  font-size: 20px;
}
#male{
  height: 20px;
  margin-left: 120px;
  width: 20px;
}

#mal {
  margin-left: 15px;
  font-size: 20px;
}
